In [1]:
import pandas as pd
import numpy as np

In [31]:
from bokeh.io import show, output_file
from bokeh.plotting import figure
from bokeh.models import ColumnDataSource

In [26]:
data = pd.read_csv('age_weight.csv')

In [27]:
data.head()

,Species,Common name,Adult weight (g),Male maturity (days),Gestation/Incubation (days),Litter/Clutch size,Maximum longevity (yrs)
0,pulicaria,Daphnia,NaN,NaN,NaN,NaN,0.19
1,melanogaster,Fruit fly,NaN,7.0,NaN,NaN,0.30
2,mellifera,Honey bee,NaN,NaN,NaN,NaN,8.00
3,obscurior,Cardiocondyla obscurior,NaN,NaN,NaN,NaN,0.50
4,niger,Black garden ant,NaN,NaN,NaN,NaN,28.00

In [37]:
selected_data = data.iloc[[1,2,4]]
source1 = ColumnDataSource(data=selected_data)

In [41]:
p = figure()
p.circle(x=[1,2,3],y='Maximum longevity (yrs)',source=source1)
show(p)

D:\Anaconda\envs\py35\lib\site-packages\bokeh\util\deprecation.py:34: BokehDeprecationWarning:
Supplying a user-defined data source AND iterable values to glyph methods is deprecated.

See https://github.com/bokeh/bokeh/issues/2056 for more information.

  warn(message)

In [39]:
selected_data

,Species,Common name,Adult weight (g),Male maturity (days),Gestation/Incubation (days),Litter/Clutch size,Maximum longevity (yrs)
1,melanogaster,Fruit fly,NaN,7.0,NaN,NaN,0.3
2,mellifera,Honey bee,NaN,NaN,NaN,NaN,8.0
4,niger,Black garden ant,NaN,NaN,NaN,NaN,28.0